<%- include("partials/header"); -%>
    <h1 class="title">About</h1>
    <p> Welcome to our blog website!
            <br>
        At this website, we are passionate about different topics. Our goal is to provide our readers with informative and engaging content that inspires them.
        
        This blog website is created and managed by me (Kunal Rastogi). I have created this one in order to apply my web designing skills and as a project to reflect to in my resume.
        
        We understand that there are many blog website out there, but what sets us apart is our commitment to providing high-quality content that is both educational and entertaining. Our blog posts are designed to appeal to a wide range of readers, from beginners to experts in the field.
        
        Whether you're looking for tips and tricks on how to improve your reading and writing skills, or want to stay up-to-date on the latest developments in the field, our blog has something for everyone.
        
        We believe that knowledge is power, and we are committed to empowering our readers through our blog. We welcome your comments, feedback, and suggestions for future blog topics. Thank you for visiting our blog website – we hope you enjoy reading our posts as much as we enjoy writing them! </p>
<%- include("partials/footer"); -%>
