<%- include("partials/header"); -%>
    <h1 class="title">Contact</h1>
    <h4>Reach me out</h4>
    <p> Managed by :- <b>Kunal Rastogi</b> </p>
    <p> E-mail :- <b><a href="mailto:kunalr14082001@gmail.com">kunalr14082001@gmail.com</a> </b> </p>
    
    <p> LinkedIn :- <b><a href="https://www.linkedin.com/in/kunal-rastogi-376721201/">Kunal Rastogi</a> </b> </p>
    
<%- include("partials/footer"); -%>
